@import 'bootstrap/dist/css/bootstrap';

.search-area{
	padding-top: 10px;
}

.no-right-padding{
	padding-right: 0 !important;
}

.no-left-padding{
	padding-left: 0 !important;
}

.results-block{
	display: inline-block;
	margin-bottom: 1rem;
}

.user-name{
	margin-top: 3.5%;
	padding-right: 5px;
}

.jumbotron {
	background-image: asset-url('banner2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 550px;
}

.jumbotron h1{
	text-align: left;
	margin-botton: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}
